<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home page</title>
		<link rel="stylesheet" href="/css/home.css" />
	</head>
	<body>
		<ul id="nav-menu">
			<li><a href="/">Home</a></li>
			<li><a href="/users">Users</a></li>
		</ul>
		<form action="/addUser" method="POST">
			<div>
				<label for="name">Name</label>
				<input type="text" name="name" />
			</div>

			<button class="btn" type="submit">Add user</button>
		</form>
	</body>
</html>
